www-data/ServerfoxMVC/cfg/
www-data/ServerfoxMVC/controllers/
www-data/ServerfoxMVC/index.php
www-data/ServerfoxMVC/libs/
www-data/ServerfoxMVC/logs/
www-data/ServerfoxMVC/models/
www-data/ServerfoxMVC/plugins/
www-data/ServerfoxMVC/views/
