www-data/ServerfoxMVC/*.php
www-data/ServerfoxMVC/*.html
www-data/ServerfoxMVC/*.htm
www-data/ServerfoxMVC/*.js
www-data/ServerfoxMVC/*.css
www-data/ServerfoxMVC/cfg/
www-data/ServerfoxMVC/controllers/
www-data/ServerfoxMVC/libs/
www-data/ServerfoxMVC/logs/
www-data/ServerfoxMVC/models/
www-data/ServerfoxMVC/plugins/
www-data/ServerfoxMVC/views/
